<div class="login-container">
  <div class="login-card">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type=""
          formControlName="email"
          class="form-control"
          placeholder="Email"
        />
        <div class="error-message" *ngIf="
          forgotPasswordForm.get('email')?.errors &&
          (forgotPasswordForm.get('email')?.dirty ||
            forgotPasswordForm.get('email')?.touched)
        ">
          <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            Email is required.
          </div>
        </div>
      </div>
            <button class="btn-primary" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Submitting...' : 'Submit' }}
      </button>
    </form>
    
    <div class="links">
        <a routerLink="/login">already has an account? back to  login</a>

    </div>
  </div>
</div>
